[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
flake8 = "*"
rope = "*"

[packages]
flask = "*"
pymysql = "*"
ipython = "*"
sqlalchemy = "*"
mysql-connector-python = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
python-dotenv = "*"
pandas = "*"
flask-marshmallow = "*"
gunicorn = "*"

[requires]
python_version = "python-3.11.1"

[scripts]
start = "python backend/run.py"
migrate = "python backend/run.py flask db init && flask db migrate && flask db upgrade"
